{% extends "dash_login.html" %}
{% block title %}Enc password{% endblock %}
{% block content %}
<div class="container mt-2">
    <!-- <h5 class="text-muted"><strong><i>Plain Text Passwords</i></strong></h5> -->
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
            <h3 class="float-start">
                <h5 class="text-muted"><strong><i>Plain Text Passwords</i></strong></h5>
            </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
            <!-- <a href="#" class="btn btn-sm btn-secondary float-end"><i class="fa-solid fa-plus"></i>&nbsp;AddUser</a> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-secondary float-end" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <i class="fa-solid fa-plus"></i>&nbsp;AddUser</a>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/adduser" method="POST">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">UserName</label>
                                <input type="text" class="form-control" name="username" id="uname" maxlength="6" 
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your id with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-sm btn-success">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <a href="{{url_for('Add_User')}}" class="btn btn-sm btn-primary">Submit</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Plain text password -->
<div class="container p-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in ptp %}
            <tr>
                <td>{{data.username}}</td>
                <td id="t1">{{data.password}}</td>
                <td>{{data.created_At}}</td>
                <td>
                    <a href="/delete/{{data.username}}" class="btn btn-sm btn-danger" onclick="return confirmDelete();"><i class="fa-solid fa-trash"></i></a>
                    <a href="#" class="btn btn-sm btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- EncryptPassword -->
<div class="container p-2">
    <h5 class="text-muted"><strong><i>Encrypted Passwords</i></strong></h5>
</div>
<div class="container p-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>EncryptedPassword</th>
                <th>Created_At</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for data in EPS %}
            <tr>
                <td style="width:auto">{{data.username}}</td>
                <td style="width:auto">{{data.encpass}}</td>
                <td >{{data.created_At}}</td>
                <!-- <td>
                    <a href="#" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                    <a href="#" class="btn btn-sm btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Decrypted Password -->
<div class="container p-2">
    <h5 class="text-muted"><strong><i>Decrypted Passwords</i></strong></h5>
</div>
<div class="container p-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>DecryptedPassword</th>
                <th>Created_At</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            {% for data in DCP %}
            <tr>
                <td style="width:auto">{{data.username}}</td>
                <td style="width:auto">{{data.password}}</td>
                <td >{{data.current_date}}</td>
                <!-- <td>
                    <a href="#" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                    <a href="#" class="btn btn-sm btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


