{% extends "dash_login.html" %}
{% block title %}Welcome {% endblock %}
{% block content %}
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto offset-3">
            <h5 class="text-muted text-center">Welcome to Password Encryption App</h5>
        </div>
    </div>
</div>
<div class="container p-3">
  <div class="row">
    <div class="col-sm-8 offset-2 mx-auto p-3">
        <div class="col-sm-6 offset-3">
            <ul class="">
                <li>Now go to user tab.</li>
                <li>Click on right side AddUser button.</li>
                <li>After click you can get 3 Category</li>
                <li>Plain Text Password</li>
                <li>Encrypted Password</li>
                <li>Decrypted Password</li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}